<nav class="mt-2" id="pd-left-nav-side-bar">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <a class="nav-link " onclick="pdFileManager.opentManager()">
            <p>
                Media
                <i class="fas right fa-folder-open"></i>
            </p>
        </a>
        <li class="nav-item has-treeview">
            <a class="nav-link ">
                <p>
                    Posts
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Posts" asp-action="Index" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p>All</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Posts" asp-action="Create" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Create</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a class="nav-link ">
                <p>
                    Categories
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p>All</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Create" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Create</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<code>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            pdSetActivePageLeftSideBar();
        });
        function pdSetActivePageLeftSideBar() {
            $('#pd-left-nav-side-bar a').each((i, a) => {
                if (a.href === window.location.pathname || a.href === window.location.href) {
                    $(a).addClass('active');
                    $(a).closest('.nav-item.has-treeview').find('a:eq(0)').addClass('active');
                    $(a).closest('.nav-item.has-treeview').addClass('menu-open ');
                    $(a).closest('.nav.nav-treeview').css('display', 'block');
                }
            })
        };
    </script>
</code>